textarea{
    margin: 7px;
    width: 80%;
}
.simple-select{
    margin: 7px;
    width: 80%;  
}
.main-form-container{
    border: 1px solid #f2f6fc;
    padding: 40px;
    padding-bottom: 190px;
    margin:30px;
    border-radius: 5px;
    box-shadow: 0px 3px 8px RGB(41 41 145 / 75%) ;
    
}
.MuiTextField-root{
    margin: 1px;
    width: '80%' 
}

